.blue-text {
  color: #00004f;
}

.red-text {
  color: #bf0000;
}

.btn {
  border-radius: 10px;
  padding: 10px 15px;
  display: flex;
}

.btn-primary {
  background: #00004f;
  color: #fff;
}

.btn-danger {
  background: #bf0000;
  color: #fff;
}

.btn-mono {
  background: #ededfa;
  color: #00004f;
  &:hover {
    background: transparent !important;
    color:#ededfa !important;
    border-color: #ededfa !important;
  }
}

