.blue-text {
  color: #00004f;
}

.red-text {
  color: #bf0000;
}

.btn {
  border-radius: 10px;
  padding: 10px 15px;
  display: flex;
}

.btn-primary {
  background: #00004f;
  color: #fff;
}

.btn-danger {
  background: #bf0000;
  color: #fff;
}

