<div class="d-flex justify-content-start align-items-center title-container">
  <div (click)="navigateTo('home')" style="cursor: pointer;">
    <img [src]="jsonToolsLogoLabel"/>
  </div>
  <div class="d-flex align-items-center justify-content-center" id="all-tools" (click)="toggleAllToolsVisibility()">
    <span class="d-flex align-items-center justify-content-center">All Tools
      <i-feather [class.flipped]="allToolsShown" class="ms-1 tools-arrow" name="chevron-down"></i-feather>
    </span>
    
  </div>
</div>

@if(allToolsShown){
<div class="d-flex justify-content-center align-items-start all-tools-wrapper w-100 px-2 py-3">
  <div class="row w-100">
    <div class="col-12 d-flex">
      <ng-container
        *ngTemplateOutlet="
          optionWrapperTemplate;
          context: {
            category: 'COUNT',
            imgSrc1: pasteAndCountIcon,
            title1: 'Paste and Count',            
            path1: 'json-counter/paste-and-count',
            imgSrc2: uploadAndCountIcon,
            title2: 'Upload and Count',
            path2: 'json-counter/upload-and-count'
          }
        "
      ></ng-container>
      <ng-container
        *ngTemplateOutlet="
          optionWrapperTemplate;
          context: {
            category: 'CONVERT',
            imgSrc1: jsonToXlsxIcon,
            title1: 'JSON to XLSX',
            imgSrc2: xlsxToJsonIcon,
            title2: 'XLSX to JSON',
            imgSrc3: jsonToSqlIcon,
            title3: 'JSON to SQL Query'
          }
        "
      ></ng-container>
      <ng-container
        *ngTemplateOutlet="
          optionWrapperTemplate;
          context: {
            category: 'SPLIT',
            imgSrc1: jsonDataSplitterIcon,
            title1: 'JSON Data Splitter',
          }
        "
      ></ng-container>
      <ng-container
        *ngTemplateOutlet="
          optionWrapperTemplate;
          context: {
            category: 'FORMAT',
            imgSrc1: jsonFormatterIcon,
            title1: 'JSON Formatter',
          }
        "
      ></ng-container>
    </div>
  </div>
</div>
}

<ng-template
  #optionWrapperTemplate
  let-category="category"
  let-imgSrc1="imgSrc1"
  let-imgSrc2="imgSrc2"
  let-imgSrc3="imgSrc3"
  let-title1="title1"
  let-title2="title2"
  let-title3="title3"
  let-path1="path1"
  let-path2="path2"
  let-path3="path3"
>
  <div
    class="col-lg-3 col-md-3 col-sm-6 col-12 d-flex flex-column justify-content-center align-items-center"
  >
    <h5>{{ category }}</h5>
    <ng-container
      *ngTemplateOutlet="optionTemplate; context: { imgSrc: imgSrc1, title: title1, path: path1 }"
    ></ng-container>
    <ng-container
      *ngTemplateOutlet="optionTemplate; context: { imgSrc: imgSrc2, title: title2, path: path2 }"
    ></ng-container>
    <ng-container
      *ngTemplateOutlet="optionTemplate; context: { imgSrc: imgSrc3, title: title3, path: path3 }"
    ></ng-container>
  </div>
</ng-template>

<ng-template #optionTemplate let-imgSrc="imgSrc" let-title="title" let-path="path">
  @if(!title){
  <div
    [style.pointer-events]="'none'"
    class="tool-option d-flex justify-content-center align-items-center w-100"
    (click)="navigateTo(path)"
  >
    &nbsp;
  </div>
  }@else {
  <div class="tool-option d-flex justify-content-center align-items-center w-100" (click)="navigateTo(path)">
    <img [src]="imgSrc" />
    <span>{{ title }}</span>
  </div>
  }
</ng-template>
