.title-container {
  background: #f2f2f7;
  color: #000000;
  height: 60px;
  width: 100%;
  padding: 10px 20px;
}

#all-tools {
  font-size: large;
  font-weight: 600;
  cursor: pointer;
  &:hover {
    font-weight: 700;
  }
}

.svg-wrapper {
  cursor: pointer;
  pointer-events: all;
  z-index: 1;
}

#custom-svg {
  height: 16px;
  width: 16px;
  margin-left: 5px;
  cursor: pointer;
}

.all-tools-wrapper {
  height: 220px;
  background: #e6e6e6;
  overflow: auto;
}

.tool-option {
  padding: 15px;
  cursor: pointer;
  transition: transform 0.3s ease;
  span {
    margin-left: 0.5rem;
  }
  &:hover {
    background: #f2f2f2;
    border-radius: 20px;
    transform: scale(1.1);
    span {
      font-weight: 600;
    }
  }
}
